// @import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails
// @import "../neat/neat";

// Neat Overrides
// $column: 90px;
$gutter: 20px;
$grid-columns: 8;
$max-width: 1200px;

// Neat Breakpoints
$small-screen: 420px;
$medium-screen: 600px;
$large-screen: 900px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$phone-screen-up: new-breakpoint(min-width $small-screen 8);