@import "../modules/typography";

@font-face {
  font-family: "Matatas One";
  src: url("/fonts/matatas_one.otf");
  font-weight: normal;
}

html {
  font-size: $line-height-unit;

  @media only screen and (max-width: $small-screen) {
    font-size: 14px;
  }
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: rem($base-font-size-px);
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  margin: 0;
  font-weight: $primary-header-font-weight;
}

@mixin baseline($font-size,
  $line-height-multiple: 0,
  $margin-bottom-multiple: 1,
  $top-padding-multiple: 0,
) {
  $cheight: $font-size * $cap-height;

  @if $line-height-multiple ==0 {
    $line-height-multiple: ceil($font-size / $line-height-unit);
  }

  $lheight: $line-height-multiple * $line-height-unit;
  $adjustment: (
    $lheight - $cheight) / 2;
  $bottom: rem(($line-height-unit * $margin-bottom-multiple) - $adjustment
  );
margin-top: 0;
padding-top: rem($adjustment)+rem($top-padding-multiple * $line-height-unit);
font-size: rem($font-size);
line-height: rem($lheight);

@if strip-unit($bottom) < 0 {
  margin-bottom: rem(($line-height-unit * $margin-bottom-multiple) - $adjustment);
  padding-bottom: 0;
}

@else {
  padding-bottom: rem(($line-height-unit * $margin-bottom-multiple) - $adjustment);
}
}

%h1 {
  @include baseline(48, $line-height-multiple: 4);
}

%h2 {
  @include baseline(36);
}

%h3 {
  @include baseline(32, $line-height-multiple: 3);
}

%h4 {
  @include baseline(24);
  // font-size: rem(24);
  // line-height: rem(32);
}

%h5 {
  @include baseline(20);
}

%h6 {
  @include baseline(18, 0);
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
  margin-top: spacing-unit(2);
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  @include baseline($base-font-size-px, $margin-bottom-multiple: 1);
  margin-bottom: 1rem;
}

a {
  color: $action-color;
  text-decoration: none;
  // transition: color $base-duration $base-timing;

  @extend %link-effect;

  // &:active,
  // &:focus,
  // &:hover {
  //   @extend %link-hover-effect;
  //   // color: shade($action-color, 25%);
  // }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-top: $base-spacing;
  margin: 0 0 calc(#{$base-spacing} - #{$base-border-width});
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

pre,
tt,
code,
kbd,
samp {
  font-family: $base-font-family-mono;
}