@import "modules/_functions";
// Typography
$line-height: 32px;
$line-height-unit: $line-height / 2;
$base-font-size-root: $line-height-unit;
$base-font-size-px: 18px;
$baseline-grid-height: $line-height-unit;
// $base-font-family: 'Roboto', $font-stack-helvetica;
$base-font-family-mono: 'Roboto Mono', monospace;
// $cap-height: 0.715; // Roboto
$base-font-family: 'Lora', $font-stack-georgia;
$cap-height: 0.70625;
$base-font-family-header: 'Bitter', $font-stack-georgia;
$cap-height: 0.692;
// $heading-font-family: $base-font-family;
$heading-font-family: $base-font-family-header;
$base-font-weight: 400;
$primary-header-font-weight: 900;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: ratio($line-height, $base-font-size-px);
$heading-line-height: $base-line-height;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: rem($base-line-height * $base-font-size-px);
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #039cd4; // #4ED8FC;
$black: #000;
$dark-gray: #333;
$medium-gray: #828282;
$silver: #ccc;
$light-gray: #e6e6e6;
$lightest-gray: #f1f1f1;
$white: #ffffff;
$red-foreground: #d43030;
$purple-shadow: #672178;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red-foreground;

// Border
$base-border-width: 1px;
$base-border-color: $light-gray;
$base-border: $base-border-width solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;