article {
  .meta {
    color: $medium-gray;
  }

  time {
    margin: 0 0.25rem 0 0;
  }

  .spacer {
    display: inline-block;
    margin: 0 0.5rem;
  }
}

.article-full {
  header {
    text-align: center;

    h1 {
      @include baseline(48, $line-height-multiple: 4, $margin-bottom-multiple: 2);
      margin-top: spacing-unit(2);
    }
  }

  .meta {
    @include baseline(16, $margin-bottom-multiple: 3);
  }

  footer {
    margin-top: spacing-unit(2);
    padding: rem($line-height-unit - 1) 0rem spacing-unit(1);
    border-top: rem(1) solid $silver;
    background-color: transparent;
  }
}

.c-pagination__ctrl {
  display: flex;
  justify-content: space-between;
}

.tags {
  a {
    @extend %link-hover-effect;
    display: inline-block;
    color: $medium-gray;
    margin: 0 0.5rem 0 0;
  }
}

$indentation: spacing-unit(2);

%article-lists {
  @include baseline($base-font-size-px, $margin-bottom-multiple: 1);
  padding-left: $indentation;

  h1+&,
  h2+&,
  h3+&,
  h4+&,
  h5+&,
  h6+& {
    margin-top: spacing-unit(-1);
  }
}

.article-body {
  p {
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
      @include baseline(20, $margin-bottom-multiple: 1);
    }

    &+p {
      @include baseline($base-font-size-px, $margin-bottom-multiple: 1);
      margin-top: spacing-unit(-1);
      margin-bottom: 0;
      text-indent: $indentation;
    }
  }

  ul {
    @extend %article-lists;
    list-style-type: disc;
  }

  ol {
    @extend %article-lists;
    list-style-type: decimal;
  }

  h1+p,
  h2+p,
  h3+p,
  h4+p,
  h5+p,
  h6+p {
    margin-top: spacing-unit(-1);
  }

  pre {
    // padding: rem(31);
    // $pad: 1 - ( 1 /$line-height-unit);
    // $pad-bottom: $pad + 1;
    // @include baseline(16, $top-padding-multiple: $pad, $line-height-multiple: 1.5, $margin-bottom-multiple: $pad-bottom);
    // border: rem(1) dashed $medium-gray;
    padding: rem(32);
    @include baseline(16, $top-padding-multiple: 1, $line-height-multiple: 1.5, $margin-bottom-multiple: 2);
    margin: spacing-unit(2) -2rem;
    background-color: $light-gray;
  }

  code[class*="language-"],
  pre[class*="language-"],
  code {
    text-shadow: none;
    color: $base-font-color;
    font-weight: normal;
  }

}