.page-footer {
  text-align: center;
  margin: spacing-unit(8) 0 spacing-unit(2);

  p {
    @include baseline(16,
      $line-height-multiple: 2,
      $margin-bottom-multiple: 2,
    );
  }

  a {
    @extend %link-hover-effect;
  }

  .kooperasyon {
    @include baseline(60);
    font-family: "Matatas One", $base-font-family;
    display: inline-block;
    text-shadow: .04em .04em 0 $purple-shadow;
    border-bottom: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .cc-image {
    height: 17px;
    vertical-align: middle;
    margin-left: 0.3rem;
  }
}