@import "../base/typography";

.page-header {
  text-align: center;
  padding: rem(32) 0 rem(32);
  background-color: $red-foreground;

  >.branding {
    @include baseline(80, $line-height-multiple: 7, $margin-bottom-multiple: 2);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    >a {
      text-decoration: none;
      border-bottom: none;
      color: $white;
      text-shadow: .07em .07em 0 $purple-shadow;

      &:hover {
        text-decoration: underline;
        // border-bottom: 8px solid;
      }
    }
  }

  .logo {
    height: 0;
    padding-top: percent(224, 656);
    position: relative;

    >object {
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }
  }

  p {
    @include baseline(24);
    font-weight: 400;
    color: $white;
  }
}