main {
  margin-top: spacing-unit(3);

  >section {
    >h1 {
      @extend %heading-uppercase-formating;
      @include baseline(18, $margin-bottom-multiple: 3);
      line-height: rem($line-height-unit * 2);
    }
  }

  h1 {
    @extend %linked-heading;
  }
}

.posts {
  margin-bottom: spacing-unit(3);
}

.summary {
  margin: 0 0 spacing-unit(2);

  >h1 {
    @include baseline(32, $line-height-multiple: 3, $margin-bottom-multiple: 2);
    @extend %linked-heading;
  }

  .meta {
    @include baseline(16, 0);
  }

  >p {
    margin: 0;
  }
}

.projects {
  >h2 {
    @extend %heading-uppercase-formating;
    @include baseline(16, $margin-bottom-multiple: 2);
    margin-top: spacing-unit(4);
    font-weight: 300;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 -10px;

  >li {
    flex-basis: 100%;
    box-sizing: border-box;
    padding: 0 10px;

    @media only screen and (min-width: 500px) {
      flex-basis: 50%;
    }
  }

  h2 {
    @extend %linked-heading;
    @include baseline(24, $line-height-multiple: 3, $margin-bottom-multiple: 0);
    font-weight: 300;
  }

  .description {
    @include baseline(16, $line-height-multiple: 2, $margin-bottom-multiple: 1);
    margin-bottom: 0;
  }

  .meta {
    @extend %uppercase-formating;
    @include baseline(14, $margin-bottom-multiple: 2);

    >strong {
      font-weight: 300;
    }
  }
}