html {}

body {
  padding: 0;
  margin: 0;
  background-color: $base-background-color;
}

.container {
  display: grid;
  grid-template-columns: auto rem(656) auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "leftmargin main rightmargin"
    "leftmargin aside rightmargin"
    "leftmargin footer rightmargin";
  column-gap: 20px;
  row-gap: 0;
  justify-items: stretch;
  font-size: inherit;
  // max-width: rem(656);
  margin: 0 auto;
}

.grid-overlay {
  // Debugging...
  // @include grid-visual;
  @include baseline-grid-overlay($baseline-grid-height);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

$grid-columns: 8;

.page-header,
main,
aside,
.page-footer {
  // @extend %top-level-content;
  display: block;
}

.page-header {
  grid-area: header;
}

main {
  grid-area: main;
}

.page-footer {
  grid-area: footer;
}