<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}
<body>
  <div class="container">
    {{ partial "header" . }}
    <main>
      {{ block "main" . }}{{ end  }}
    </main>
    {{ partial "footer" . }}
  </div>
</body>
