{{ define "main" }}
  {{ $baseurl := .Site.BaseURL }}
  <article class="article-full">
    <header>
      <h1>{{ .Title }}</h1>
      <div class="meta">
        <div class="time">
          {{ "Posted on " }}
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </div>
      </div>
    </header>

    <section class="article-body">
      {{ .Content }}
    </section>
    <footer>
      <div class="tags">
        {{ range .Params.tags }}
          <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
        {{ end }}
      </div>
      {{ with .Site.Params.disqus }}
        <div id="disqus_thread">
        <script>
          var disqus_shortname = '{{ . }}';
          (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>
          Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a> 
        </noscript>
      {{ end }}
      <nav class="p-pagination c-pagination">
        <div class="c-pagination__ctrl">
          <div class="c-pagination__older">
            {{ if .PrevPage }}
              <a href="{{ .PrevPage.Permalink }}">Older</a>
            {{ end }}
          </div>
          <div class="c-pagination__newer">
            {{ if .NextPage }}
              <a href="{{ .NextPage.Permalink }}">Newer</a>
            {{ end }}
          </div>
        </div>
      </nav>
    </footer>
  </article>
{{ end }}
