@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem($size-in-px) {
  @return ratio($size-in-px, $base-font-size-root) * 1rem;
}

@function percent($part, $whole) {
  @return ratio($part, $whole) * 100%;
}

@function ratio($part, $whole) {
  @return strip-unit($part) / strip-unit($whole);
}

@function spacing-unit($multiple) {
  @return rem($line-height-unit * $multiple);
}
