%uppercase-formating {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

%heading-uppercase-formating {
  @extend %uppercase-formating;
  text-align: center;
  font-weight: 400;
}

%link-effect {
  border-bottom: 2px solid;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    border-color: rgba(0, 0, 0, 0);
  }
}

%link-hover-effect {
  border-bottom: 2px solid;
  border-color: rgba(0, 0, 0, 0);

  &:hover {
    text-decoration: none;
    border-color: inherit;
  }
}

%linked-heading {
  > a {
    @extend %link-hover-effect;
    color: inherit;
  }
}
