$line-height: 32px;
$line-height-unit: $line-height / 2;
$base-font-size-root: 18px;
$baseline-grid-height: $line-height-unit;
$base-font-family: 'Roboto', $helvetica;
$base-font-family-mono: 'Roboto Mono', monospace;
$heading-font-family: $base-font-family;
$base-font-weight: 300;

