@mixin baseline-grid-overlay($baseline-grid-height) {
  position: relative;
  overflow: hidden;

  &::after {
      background: linear-gradient(to bottom, hsla(280, 50%, 30%, .3), hsla(280, 50%, 30%, .3) 1px, transparent 1px, transparent);
      background-size: 100% $baseline-grid-height;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
  }

}
