<footer class="page-footer">
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
        <a class="kooperasyon" property="dct:title" rel="cc:attributionURL"
            href="https://kooperasyon.codeberg.page">Kooperasyon</a>
        <br>
        © 2022
        <span property="cc:attributionName">Wayne Duran</span>
        <br />
        Licensed under
        <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank"
            rel="license noopener noreferrer" style="display:inline-block;">
            CC BY-SA 4.0
            <img class="cc-image" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
            <img class="cc-image" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">
            <img class="cc-image" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1">
        </a>
    </p>
    <p>
        <a href="https://www.behance.net/gallery/68994729/Matatas-One-A-Baybayin-Typeface">Matatas One</a> typeface by
        Aaron Amar.
    </p>
</footer>