<head>
  <meta charset="utf-8">
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{ end }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  {{ $cssOpts := (dict "enableSourceMap" true) }}
  {{ $css := resources.Get "scss/main.scss" }}
  {{ $css = $css | resources.ToCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ $title := .Site.Title }}
  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $title }}">
  {{ end }}
  {{ hugo.Generator }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--
    Humans
    ==================================================
  -->
  <link type="text/plain" rel="author" href="/humans.txt">
  <!--
    Mobile Specific Metas
    ==================================================
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <!--
    Favicons
    ==================================================
  -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="shortcut icon" href="/favicon.ico">
  {{ $jsOpts := (dict "enableSourceMap" true "target" "es2020") }}
  {{ $js := resources.Get "js/main.ts" | js.Build $jsOpts }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  <title>{{ .Title }}</title>
</head>