<section class="projects" aria-label="Projects">
  <h1>Projects</h1>
  <ul class="projects-list active-projects">
    {{ range $.Site.Data.projects.active }}
      {{ partial "project.html" . }}
    {{ end }}
  </ul>

  <h2>Previous Projects</h2>
  <ul class="projects-list">
    {{ range $.Site.Data.projects.inactive }}
      {{ partial "project.html" . }}
    {{ end }}
  </ul>
</section>
