<li>
  <h2>
    <a href="{{ index . "link" }}" target="_blank">{{ index . "name" }}</a>
  </h2>
  <p class="description">{{ index . "description" }}</p>
  <p class="meta">
    <strong>Status:</strong>  {{ index . "status" }}
  </p>
</li>
