<section class="posts" aria-label="Posts">
  <h1>
    <a href="/posts">Recent Posts</a>
  </h1>
  {{ $paginator := .Paginate (where .Site.Pages "Type" "posts") 5 }}
  {{ range $paginator.Pages }}
    {{ if ne .Title "Posts" }}
      {{ partial "summary.html" . }}
    {{ end }}
  {{ end }}
</section>

