<aside>
  <div>
    <h3>Latest Posts</h3> 
  </div>
  <div>
    <ul>
      {{ range first 5 .Site.Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</aside>
