<article class="summary">
  <h1>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <div class="meta">
    <time>{{ .Date.Format "Jan 2, 2006" }}</time>
    {{ if isset .Params "tags" }}
      <span class="spacer">{{ "|" }}</span>
      <span class="tags">
        {{ range .Params.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
    {{ end }}
  </div>
  <div>
    {{ .Summary }}
    {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </div>
</article>
